.user-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.spinner {
    margin-top: 30px;
    background-color: #cccccc;
    padding: 20px;
    border-radius: 5px;
}

.spinner img {
    width: 60px;
    height: 60px;
}