.user-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.result-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.spinner {
    margin-top: 30px;
    background-color: #cccccc;
    padding: 20px;
    border-radius: 5px;
}

.spinner img {
    width: 60px;
    height: 60px;
}