body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

button {
    background-color: white;
    font-weight: bold;
    padding: 10px 16px;
    border: 1px solid #bababa;
    border-radius: 3px;
}